*,
*::before,
*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {
    /* Global Varables */
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
    --vb-yellow: hsl(52, 100%, 62%);
    --pl-white: hsl(0, 0%, 100%);
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}


/* container - */
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient( 231deg , rgba(2,0,4,1) 15% , rgba(102,51,153,1) 100%);
}


.main h1{
    color: var(--pl-white);
    opacity: 0.75;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.2;
    font-family: 'Overpass', sans-serif;
}

.main{
    width: 90%;
    max-width: 450px;

    align-items: center;
}


.display-container{
    position: relative;
    background-color: rgb(16,12,8);
    border-radius:1rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
    margin: 1rem 0;
    padding-top: 0.35rem;
    
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.display{
    width: 100%;
    background-color: rgb(16,12,8);
    color: #FFE53D;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Poppins';
    padding-right: 3.25rem;
    padding-left: 1rem;
    
    
    border: none;
    outline: none;
}

.display::placeholder{
    position:absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height:30px;
    color:#FFE53D;
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button{
    position:absolute;
    top:50%;
    right:1.5rem;
    transform: translateY(-50%);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    background-color: var(--vb-violet2);
    color: var(--vb-yellow);
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.tooltip.active {
    opacity: 1;
    transform: scale(1);
}




/* password length section */
.input-container{
    width: 100%;
    background-color: rgb(16, 12, 8);
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.length-container p:nth-child(1){
    color: whitesmoke;
    font-size: 1.5rem;
}   

.length-container p:nth-child(2){
    color: var(--vb-yellow);
    font-size: 1.5rem;
}


/* .slider{
    appearance: none;
    width:100%;
    height: 0.75rem;
    cursor: pointer;
    background-color: var(--lt-violet);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
    background-repeat: no-repeat;
    border:none;
    outline:none;
    z-index:-1;
}
.slider::-webkit-slider-thumb {
    position:relative;
    z-index:1;
    appearance: none;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background-color: var(--vb-yellow);
    cursor:pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 100ms ease-in;
}

.slider:focus{
    outline: 3px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-violet);
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}
 */

 /* slider */
.slider{
    appearance: none;
    width: 100%;
    height: 0.75rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--lt-violet);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
    position:relative;
    z-index:1;
    appearance: none;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background-color: var(--vb-yellow);
    cursor:pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 100ms ease-in;
}

.slider:focus{
    outline: 3px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-violet);
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}

/* tickboxes */
.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border:1px solid var(--vb-cyan);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: var(--vb-cyan);
}

.check input:checked::before{
    content:'✔️';
    position: absolute;
    color: var(--vb-text);
    font-size:1.05rem;
    font-weight: 600;
    left: -12%;
    top: -3.5px;
}

.check label{
    color:var(--pl-white);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}


/* strength container */
.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p{
    color: whitesmoke;
    font-size: 1.5rem;
}

.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.genarate-btn{
    width: 100%;
    background-color: var(--vb-violet);
    text-align: center;
    border-radius: 0.75rem;
    border: none;
    border-bottom: 0.35rem solid var(--vb-yellow);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.25rem;
    outline: none;
    cursor: pointer;

    padding: 0.9rem;
    transition: all 100ms ease-in;
}


